html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
   
}
nav{
    background-color: black;
    color: aliceblue;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.searchbar{
    display: flex;
    align-items: center;
    background-color: aqua;
    border-radius:15px;
}
.inputbar{
    width: 29vw;
    height: 25px;
    border: none;
    background-color: aqua;
    border-radius: 15px;
}
.searchicon{
    background-color: aqua;
    border: none;
    margin: 0px;
    padding: 0px;
}
.searchicon :hover{
    cursor: pointer;
}
.inputbar::placeholder{
    color: darkorange;
    font-size: larger;
}
.bottomDiv{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 20%;
    color: aliceblue;
}
.availableProducts{
cursor: pointer;
color: aliceblue;
}
.offerTimer{
    display: flex;
    gap: 30px;
    text-align: center;
}
.offerDiv h1{
    color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
span{
    margin-left: 10px;
    text-align: center;
}
.slider{
    background-image: url("https://img.freepik.com/free-photo/abstract-circular-blinds-oscillation-background-3d-rings-wavy-surface-geometric-elements-displacement_1217-2529.jpg?w=1060&t=st=1679755740~exp=1679756340~hmac=e6b951d615e3ad7b1283b0497461039b118514335175722b116dbb2acddcc764");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    clip-path: polygon(50% 0%, 100% 0, 100% 94%, 51% 100%, 51% 100%, 0 95%, 0 0);
}
.sliderWrapper{
    display: flex;
    width: 400vw;
    transition: all 1s ease-in-out;
    
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.productName{
    position:absolute;
    top: 10%;
    left: 10%;
    font-size:20vh;
    text-align: center;
    color: aliceblue;
    text-shadow: 12px 5px 15px rgb(34, 33, 33);
}
.productPrice{
    position: absolute;
    top : 30%;
    left: 10%;
    font-size: 12vh;
    text-align: center;
    color: aliceblue;
}
.buyProduct{
    position: absolute;
    top : 52%;
    left: 10%;
    width: 10vw;
    height: 8vh;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
}
.features{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}
.feature{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
.featureImage{
    height: 12vh;
    width: 10vw;
}
.featureTitle{
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.featureDescription{
    text-align: center;
}
.discountDate{
    font-size: large;
    font-weight: bold;
    color: gold;
}
.product{
    height: 100vh;
    position: relative;
    margin-top: 3%;
    background-color: aliceblue;
}
.productImageSelected{
    width: 40vw;
    height: 70vh;

}
.productDetails{
    position: absolute;
    bottom: 20%;
    right: 15%;
    font-size: larger;
    width: 40%;
    padding: 50px;
}
.titleOfProduct{
    font-size: 100px;
    font-weight: 900;
}
.descriptionOfProduct{
    font-size: large;
    color: grey;
}
.colorsAvailable{
    display: flex;
    gap: 10px;
}
.color{
    background-color: blue;
    height: 5vh;
    width: 3vw;  
    border-radius: 10px;
}
.color:nth-child(2){
    background-color: rgb(217, 213, 204);
}
.color:nth-child(3){
    background-color: red;
}
.buyProductNow:hover{
    background-color:rgb(68, 66, 66);
    color: #fff;
}
.buyProductNow{
    height: 5vh;
    width: 10vw;
    margin-top: 4%;
    border-radius: 10px;
}
.paymentOption{
    width: 30vw;
    height: 70%;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: none;
    flex-direction: column;
    padding: 2%;
    box-shadow: 11px 11px 38px -7px rgba(0,0,0,0.74);
-webkit-box-shadow: 11px 11px 38px -7px rgba(0,0,0,0.74);
-moz-box-shadow: 11px 11px 38px -7px rgba(0,0,0,0.74);
}
.payTitle{
    color: gray;
}
label{
    margin-left: 2%;
}
input{
    padding: 2%;
    margin: 2%;
    border: none;
    border-bottom:1px solid black ;
}
.input::placeholder{
    color: gray;
}
.cardIcons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.payBill{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 5vh;
    background-color: #0fa;
    border: none;
    font-size: larger;
    cursor: pointer;
}
.close{
    position: absolute;
    right: 1%;
    top: 1%;
    cursor: pointer;
}
.gallary{
    display: flex;
    flex-wrap: wrap;
    padding-left: 120px;
}
.gallaryImg{
    border: 2px solid gray;
    border-radius: 7px;
}
.gallaryItems{
    flex: 1;
}
.newSeason{
    display: flex;
}
.nsItem{
    display: flex;
    flex: 1;
    background-color: black;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nsButton{
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
}
footer{
    display: flex;
}
.footerLeft{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.fMenuTitle{
    font-size: 16px;
}
.fList{
    padding: 0%;
    list-style: none;
}
.fListItem{
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}
.footerRight{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fInput{
    padding: 5px;
}

.fButton{
    padding: 5px;
    background-color: black;
    color: white;
    cursor: pointer;

}
.fIcons{
    display: flex;
}
.fIcon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 10px;
}