body{
    margin: 0px;
    padding: 0px;
}
nav{
    background-color: black;
    color: aliceblue;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.searchbar{
    display: flex;
    align-items: center;
    background-color: aqua;
    padding: 10px;
    border-radius:15px;
}
.inputbar{
    width: 29vw;
    height: 25px;
    border: none;
    background-color: aqua;
    border-radius: 15px;
}
.searchicon{
    background-color: aqua;
    border: none;
    margin: 0px;
    padding: 0px;
}
.searchicon :hover{
    cursor: pointer;
}
.inputbar::placeholder{
    color: darkorange;
    font-size: larger;
}
.bottomDiv{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 20%;
}
.offerTimer{
    display: flex;
    gap: 30px;
    text-align: center;
}
.offerDiv h1{
    color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
span{
    margin-left: 10px;
    text-align: center;
}
