html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
   
}
nav{
    background-color: black;
    color: aliceblue;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.searchbar{
    display: flex;
    align-items: center;
    background-color: aqua;
    padding: 10px;
    border-radius:15px;
}
.inputbar{
    width: 29vw;
    height: 25px;
    border: none;
    background-color: aqua;
    border-radius: 15px;
}
.searchicon{
    background-color: aqua;
    border: none;
    margin: 0px;
    padding: 0px;
}
.searchicon :hover{
    cursor: pointer;
}
.inputbar::placeholder{
    color: darkorange;
    font-size: larger;
}
.bottomDiv{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 20%;
    color: aliceblue;
}
.availableProducts{
cursor: pointer;
color: aliceblue;
}
.offerTimer{
    display: flex;
    gap: 30px;
    text-align: center;
}
.offerDiv h1{
    color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
span{
    margin-left: 10px;
    text-align: center;
}
.slider{
    background-image: url("https://img.freepik.com/free-photo/abstract-circular-blinds-oscillation-background-3d-rings-wavy-surface-geometric-elements-displacement_1217-2529.jpg?w=1060&t=st=1679755740~exp=1679756340~hmac=e6b951d615e3ad7b1283b0497461039b118514335175722b116dbb2acddcc764");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    clip-path: polygon(50% 0%, 100% 0, 100% 94%, 51% 100%, 51% 100%, 0 95%, 0 0);
}
.sliderWrapper{
    display: flex;
    width: 400vw;
    transition: all 1s ease-in-out;
    
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.productName{
    position:absolute;
    top: 10%;
    left: 10%;
    font-size:20vh;
    text-align: center;
    color: aliceblue;
    text-shadow: 12px 5px 15px rgb(34, 33, 33);
}
.productPrice{
    position: absolute;
    top : 30%;
    left: 10%;
    font-size: 12vh;
    text-align: center;
    color: aliceblue;
}
.buyProduct{
    position: absolute;
    top : 52%;
    left: 10%;
    width: 10vw;
    height: 8vh;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
}
.features{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.feature{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
.featureImage{
    height: 12vh;
    width: 10vw;
}
.featureTitle{
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.featureDescription{
    text-align: center;
}
.discountDate{
    font-size: large;
    font-weight: bold;
    color: gold;
}
.product{
    height: 100vh;
    position: relative;
    margin-top: 3%;
}
.productImageSelected{
    width: 40vw;
    height: 70vh;

}
.productDetails{
    position: absolute;
    bottom: 20%;
    right: 15%;
    font-size: larger;
    width: 40%;
    padding: 50px;
}
.titleOfProduct{
    font-size: 100px;
    font-weight: 900;
}
.descriptionOfProduct{
    font-size: large;
    color: grey;
}
.colorsAvailable{
    display: flex;
    gap: 10px;
}
.color{
    background-color: blue;
    height: 5vh;
    width: 3vw;  
    border-radius: 10px;
}
.color:nth-child(2){
    background-color: rgb(217, 213, 204);
}
.color:nth-child(3){
    background-color: red;
}
.buyProductNow:hover{
    background-color:rgb(68, 66, 66);
    color: #fff;
}
.buyProductNow{
    height: 5vh;
    width: 10vw;
    margin-top: 4%;
    border-radius: 10px;
}